#content {
	position: absolute;
	top: 0;
	left: var(--sbw);
	right: 0;
	margin: auto;
	width: calc(100% - var(--sbw));
	max-width: 2560px;
	min-width: 640px;
	height: 100;
	min-height: 480px;
	background-color: var(--bg);
}

.content-section {
	position: relative;
}
