#content {
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 2560px;
	min-width: 640px;
	min-height: 480px;
	background-color: rgb(var(--fd));
	box-shadow: 0 0 1px rgb(var(--fg));
}

.content-section {
	position: relative;
}
