html {
	--unit: 48px;
	--foreground-color: 33, 33, 33;
	--background-color: 238, 238, 238;
	--faded-color: 224, 224, 224;
	--link-color: 205, 220, 57;
	--highlight-color: var(--background-color);
	--overlay-color: var(--faded-color);
	--text-color: var(--foreground-color);
	background-color: rgb(var(--faded-color));
}
body {
	margin: 0 0 0 var(--unit);
	height: 100%;
}
*::selection {
	background-color: rgba(var(--link-color), 0.5);
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(var(--text-color));
	font-family: 'Josefin Slab', serif;
}
p, ol, ul, span {
	color: rgb(var(--text-color));
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
}
a {
	font-family: 'Josefin Sans', sans-serif;
	background-color: rgba(var(--link-color), 0);    
	color: rgb(var(--text-color));
	transition: color 200ms, background-color 400ms;
/*	text-decoration: none;*/
	border-radius: 3px;
	display: inline-block;
}
a:hover {
	background-color: rgba(var(--link-color), 0.3);
}
.button {
	--overlay-color: var(--background-color);
	--text-color: var(--background-color);
	font-family: 'Josefin Sans', sans-serif;
	display: inline-block;
	padding: 18px 16px;
	color: rgb(var(--text-color));
	background-color: rgb(var(--highlight-color));
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0 2px 3px 1px rgba(var(--foreground-color), 0.15);
}
.button:hover {
	background-color: rgb(var(--highlight-color));
}
img {
	opacity: 0;
	transition: opacity 800ms;
}
code {
	color: rgb(var(--text-color));
	background-color: rgb(var(--faded-color));
	font-family: 'PT Mono', monospace;
	font-size: 1em;
}
.img-buffer {
	display: none;
}
