html {
	--sbw: 48px;
	--fg: 33, 33, 33;
	--bg: 238, 238, 238;
	--fd: 224, 224, 224;
	--link-color: 205, 220, 57;
	--highlight-color: var(--bg);
	--overlay-color: var(--fg);
	background-color: rgb(var(--fd));
}
body {
	margin: 0 0 0 var(--sbw);
	height: 100%;
	color: rgb(var(--fg));
}
*::selection {
	background-color: rgba(var(--link-color), 0.5);
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(var(--tc));
	font-family: 'Josefin Slab', serif;
}
p {
	color: rgb(var(--tc));
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
}
a {
	color: rgb(var(--link-color));
	background-color: rgba(var(--bg), 0);    
	color: rgb(var(--fg));
	transition: color 200ms, background-color 400ms;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
a:hover {
	background-color: rgba(var(--link-color), 0.3);
}
.button {
	font-family: 'Josefin Sans', sans-serif;
	display: inline-block;
	padding: 18px 16px;
	color: rgb(var(--bg));
	background-color: rgb(var(--highlight-color));
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0 2px 3px 1px rgba(var(--fg), 0.15);
	--overlay-color: var(--bg);
}
.button:hover {
	background-color: rgb(var(--highlight-color));
}
img {
	opacity: 0;
	transition: opacity 800ms;
}
