#sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 5% 0;
	width: var(--sbw);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: auto;
	background-color: rgb(var(--fg));
	box-shadow: inset -4px 0 3px -5px rgb(var(--fd)), 2px 0 3px 1px rgba(var(--fg), 0.15);
	z-index: 5;
}
.sidebar-separator {
	box-shadow: 0 4px 3px -5px rgb(var(--fd));
}
.sidebar-button {
	display: block;
	width: var(--sbw);
	height: var(--sbw);
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}
.sidebar-button svg {
	display: block;
	height: 20px;
	width: 20px;
	padding: calc((var(--sbw) - 20px) / 2);
	fill: rgba(var(--fd), 0.5);
	transition: fill 400ms;
}
.sidebar-button:hover svg {
	fill: rgb(var(--bg));
}
